In [2]:
import json
import pandas as pd

In [3]:
df = pd.read_json('./Country_Quiz.json')
df.head()

       country continent           capital
0  Afghanistan      Asia             Kabul
1      Albania    Europe            Tirana
2      Algeria    Africa           Algiers
3      Andorra    Europe  Andorra la Vella
4       Angola    Africa            Luanda

In [5]:
df.to_csv("Country_Quiz.csv")