In [1]:
import pandas as pd

In [10]:
questions_raw = pd.read_csv('./Country_Quiz_with_Options.csv')

df = questions_raw.copy()
df.head()

,,,,id,country,continent,capital
0,Afghanistan,Asia,Kabul,[Kabul,Kandahar,Herat,Mazar-i-Sharif]
1,Albania,Europe,Tirana,[Tirana,Durres,Vlore,Shkoder]
2,Algeria,Africa,Algiers,[Algiers,Oran,Constantine,Annaba]
3,Andorra,Europe,Andorra la Vella,[Andorra la Vella,Escaldes-Engordany,Encamp,La Massana]
4,Angola,Africa,Luanda,[Luanda,Huambo,Lobito,Benguela]

194